<!DOCTYPE html>
<html>

<head>
	<style>
		li {
			padding: 10px;
		}

		p {
			font-size: 16px;
		}

		* {
			background-color: #F5F7FB;
			border-width: 1rem;
			border-top: blue;
		}

		h2 {
			font-size: 1.3rem;
		}

		html,
		body {
			margin: 0;
		}

		h3,
		h4 {
			font-size: 1rem;
		}

		div .code {
			font-family: 'Open Sans', sans-serif;
			color: #202020;
			text-align: center;
			font-size: 16px;
		}

		.context {
			font-size: 12px;
			padding: 40px 50px 40px 50px;
			margin: 0 auto;
		}

		.text {
			padding-left: 2rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			padding-right: 2rem;
			background-color: #FFFFFF;
			font-size: 14px;

		}

		img {
			width: 75%;
			height: 40%;
		}

		.button {
			background-color: #1FA0DB;
			border: none;
			color: white;
			padding: 12px 32px;
			text-decoration: none;
			display: inline-block;
			border-radius: 8px;
			font-size: 12px;
			margin: 4px auto 24px;
			cursor: pointer;
			transition: transform .3s;
		}

		.button:hover {
			color: #FFFFFF;
			transform: scale(1.1);
		}

		@media(max-width: 600px) {
			.context {
				margin-left: 0;
				margin-right: 0;

			}

			div .code h1 {
				font-size: 1.3rem;

			}
		}
	</style>
</head>

<body>
	<div class='context'>


		<div class="code">
			<img src="{{img}}"></img>
		</div>
		<div class="text">
			Hello {{name}},
			<br>
			Greetings from InterviewDeck. Thank you for choosing to interview with us. Your interview request has been
			accepted. The interview schedule will be shared with you shortly.
			<br>
			<br>
			Please reply to this email with your preferred date and time for interview. Give at least 3 time intervals
			<br>
			eg. 
			<br>
			1. 24Jan2022 11:00AM to 3:00PM
			<br>
			2. 25Jan2022 1:00PM to 7:00PM
			<br>
			3. 26Jan2022 8:00AM to 2:00PM
			<br>
			<br>
			For any queries regarding interviews or schedule please revert us back on this email.
			<br>
			<br>

			Regards,<br>
			InterviewDeck


		</div>
	</div>
</body>

</html>